[mysqld]
interactive_timeout=28800
wait_timeout=28800
max_connections = 3000
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow-query.log
long_query_time=1
